

// Error highlighting
.error {
  @include bg-color(gray(80%));
  @include border(gray(80%), 0);
  @include border-bottom(theme-color6);

  &:focus {
    @include border(theme-color6, 0);
    @include drop-shadow(1, 0, get-color(theme-color6, .6));
  }
}

.warning {
  @include bg-color(gray(80%));
  @include border(theme-color5);

  &:focus {
    @include border(theme-color5, 0);
    @include drop-shadow(1, 0, get-color(theme-color5, .5));
  }
}

.valid {
  @include bg-color(gray(80%));
  @include border(theme-color5);

  &:focus {
    @include border(theme-color4, 0);
    @include drop-shadow(1, 0, get-color(theme-color4, .5));
  }
}

.error-field {
  @include bg-color(gray(50%));
  @include color(white);
  @include text-small;
  @include absolute;
  @include padding;
  @include triangle('up', 10px, map-get($colors, theme-color5));
  @include animate(.5);
  @include opacity(1);
  @include drop-shadow(1, .5);
  @include z(1000);
  left: -5%;
  top: 105%;

  a {
    @include block;
    @include text-bold;
    @include color(black);
    @include text-underline;
    @include margin(1 0);
  }

  &.off {
    @include opacity(0);
    @include z(-1);
    top: 95%;
  }
}

// Error popup
.error ~ .error-field {
  @include bg-color(theme-color6);
}

.warning ~ .error-field {
  @include bg-color(theme-color5);
}
