h1 {
  @include text(heading);
  @include margin(0);
  font-weight: 100;
  line-height: 1.5;
}

h2 {
  @include text(heading);
  @include text-size(normal);
  @include margin(0);
  font-weight: 100;
  line-height: 1.5;
}

h3 {
  @include text(heading);
  @include text-size(smaller);
  @include margin(0);
  line-height: 1.5;
}

h4 {
  @include text(heading);
  @include text-size(smaller);
  @include margin(0);
  line-height: 1.5;
}
